# =============== #
# Unity generated       #
# =============== #
**/[Ll]ibrary/
**/[Tt]emp/
**/[Oo]bj/
**/[Bb]uild/

# =============== #
# Custom                    #
# =============== #

**/Scripts - external/*
**/RAW/*
**/External/*
**/[Bb]uilds/

# ===================================== #
# Visual Studio / MonoDevelop generated               #
# ===================================== #
**/ExportedObj/
*.svd
*.user
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.tmp
*.unityproj
*.booproj
*.pidb.meta

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
sysinfo.txt


# ============ #
# Xcode
# ============ #
**/build/
**/Temp/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
**/DerivedData/
**/.idea/

# ============ #
# Pods - for those of you who use CocoaPods
# ============ #
**/Pods
**/Frameworks/*
